*.VC.db
*.VC.opendb
*.a
*.d
*.log
*.o
*.orig
*.so
.cache/
.flatpak-builder/
.idea/
.trunk
.vscode
.vscode-ctags
/cie-java/.gradle
/cie-java/bin
CMakeCache.txt
CMakeFiles/
Makefile
build/
builddir/
cmake_install.cmake
meson-info/
meson-logs/
meson-private/
