*.VC.db
*.VC.opendb
*.a
*.d
*.o
*.so
.idea/
.trunk
.vscode
/cie-java/.gradle
/cie-java/bin
CMakeCache.txt
CMakeFiles/
Makefile
build/
builddir/
cmake_install.cmake
gradle/
gradlew
gradlew.bat
meson-info/
meson-logs/
meson-private/
