[Desktop Entry]
Version=1.0
Name=Cie ID
Comment=Middleware for electronic Italian Identity Card
Name[it]=Cie ID
Comment[it]=Middleware della CIE (Carta di Identità Elettronica)
Exec=cieid
Icon=app.m0rf30.cieid
Type=Application
Terminal=false
StartupNotify=false
Encoding=UTF-8
Categories=Utility;
StartupWMClass=app-m0rf30-cieid-MainApplication
