# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
  pull_request:

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  gradle:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: 17

      - name: Execute Gradle build
        run: |
          cie-java/gradlew -b cie-java/build.gradle standalone

      - name: Install Dependencies
        run: >
          sudo apt update;
          sudo apt install -y g++ libcrypto++-dev
          libcrypto++8 libcurl4-openssl-dev libfontconfig1-dev
          libfreetype6-dev libpcsclite-dev libpcsclite1 libpng-dev libpodofo-dev
          libssl-dev libssl3 libxml2 libxml2-dev
          pcscd pkg-config python3-pip unzip

      - uses: actions/setup-python@v6
        with:
          python-version: "3.x"
      - run: pip install meson ninja
        env:
          CC: gcc
      - run: meson setup builddir libs
      - run: meson configure -Dprefix=/usr builddir
      - run: meson compile -C builddir

      - uses: actions/upload-artifact@v6
        if: failure()
        with:
          name: Linux_Meson_Testlog
          path: builddir/meson-logs/testlog.txt
