name: Release

# Controls when the workflow will run
on:
  push:
    tags:
      - "*"
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v6

      # Runs a set of commands using the runners shell
      - name: Detect version
        run: echo "::set-output name=version::$(cat packages/cie-middleware/PKGBUILD | grep pkgver | cut -d\" -f2)"
        id: version

      - name: Build
        run: |
          docker run --entrypoint=bash -v $(pwd):/project m0rf30/yap-ubuntu-jammy:1.40 -c "cd /project; \
            yap prepare ubuntu-jammy; \
            yap build ubuntu-jammy /project/packages"
          docker run --entrypoint=bash -v $(pwd):/project m0rf30/yap-rocky-9:1.40 -c "cd /project; \
            yap prepare rocky-9; \
            yap build rocky-9 /project/packages"

          for i in $(ls artifacts/*.deb); do sha256sum $i >> SHA256SUMS; done
          for i in $(ls artifacts/*.rpm); do sha256sum $i >> SHA256SUMS; done

      - name: Archive production artifacts
        uses: actions/upload-artifact@v5
        with:
          name: "cie-middleware-${{ steps.version.outputs.version }}"
          path: |
            artifacts/*.deb
            artifacts/*.rpm
            SHA256SUMS

      - uses: "marvinpinto/action-automatic-releases@latest"
        with:
          repo_token: "${{ secrets.GITHUB_TOKEN }}"
          prerelease: false
          title: "cie-middleware-${{ steps.version.outputs.version }}"
          files: |
            artifacts/*.deb
            artifacts/*.rpm
            SHA256SUMS
